@model GeekBooks.Models.Avatar
@using GeekBooks.DataAccessLayer
@using GeekBooks.Models

@if (Session["UserId"] != null)
{
    string UID = (string)Session["UserId"];
    MyDbContext db = new MyDbContext();
    Avatar ava = db.Avatars.FirstOrDefault(x => x.UID.ToString().Equals(UID));
    if (ava != null)
    {
        string imageUrl = ava.ImageUrl;
    }
    
<div class="container">

    <fieldset>
        <legend>Avatar</legend>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @if (ava == null)
                {
                    <div>
                        <i style="color: #FB8C00" class="material-icons md-96 orange">account_circle</i>
                        <h4> @Html.ActionLink("Choose your avatar", "AvatarController")</h4>
                    </div>
                }
                else
                {                        
                        <img src= "<%=@Url.Content("~/Content/Images/avatar01.png") %>" alt="error"/>
                }
            </div>
        </div>
    </fieldset>
</div>
}