@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <li class="">
         @Html.ActionLink(" ", "Index", "ShoppingCart", null, new { @class = "fa fa-shopping-cart fa-2x" })
    </li>
    <li class=""><a href="#" class="fa fa-shopping-bag fa-2x"></a></li>
</ul>

