@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <li class=""><a href="#" class="fa fa-shopping-cart fa-2x"></a></li>
    <li class=""><a href="#" class="fa fa-shopping-bag fa-2x"></a></li>
</ul>

