body {
margin-top: 70px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#home-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#margins {
    padding-left: 15px;
    padding-right: 15px;
}

.csbutton {
    background-color: #7f8c8d;
    border: 2px solid #7f8c8d;
    border-radius: 50px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
}

.csbutton:hover {
    background-color: white;
    color: #7f8c8d;
    border: 2px solid #7f8c8d;
}

/* override position and transform in 3.3.x */
/*.carousel-inner .item.left.active {
    transform: translateX(-33%);
}

.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.carousel-inner .item.next {
    transform: translateX(33%)
}

.carousel-inner .item.prev {
    transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left {
    transform: translateX(0);
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
}

.wide {
    max-width: 700px;
}

.pagePadding{
    padding-bottom:100px;
    padding-top: 50px;
}*/