@model IEnumerable<GeekBooks.Models.FilterViewModel>
@using GeekBooks.Models

<div>
    <h3>Applied Filters</h3>
    @{ 
        var filters = Model.FirstOrDefault();
    }
    @foreach(var item in filters.Queries){        
        List<Query> filter = filters.Queries.ToList();
        filter.Remove(item);
        <h4>@Html.ActionLink(item.query, "Filter", "Store", new { queries = filter})</h4>
    }
    <h3>Choose Filter</h3>
    @{ 
        <h4>Genre:</h4>
        List<string> categories = new List<string>();
        foreach (var item in Model){
            foreach(var genre in item.Genre)
            {
                if (!categories.Exists(x => x == genre.GenreTitle))
                {
                    categories.Add(genre.GenreTitle);
                }               
            }
        }
        foreach (var item in categories)
        {
            <h4></h4>
        }
    }
    <h4>Author:</h4>

</div>
