@model GeekBooks.Models.Account
@using GeekBooks.DataAccessLayer
@using GeekBooks.Models
@{
    ViewBag.Title = "Update";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    
    Html.RenderPartial("_UpdateAccount");


            <div class="container">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                    @Html.ActionLink("Back to Account Info", "Profile")
                </div>
            </div>
}            

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
