<!DOCTYPE html>
<html ng-app="geekBooks">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/home.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <title>geekBooks</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>    
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
